{:auto-build {:order 1},
 :auto-core {:bb [{:path [:deps com.github.hephaistox/auto-build],
                   :src-prj :auto-build}],
             :deps [],
             :order 2},
 :auto-js {:bb [{:path [:deps com.github.hephaistox/auto-build],
                 :src-prj :auto-build}],
           :deps [{:path [:deps com.github.hephaistox/auto-core],
                   :src-prj :auto-core}
                  {:path [:deps com.github.hephaistox/auto-opti],
                   :src-prj :auto-opti}],
           :order 4},
 :auto-opti {:bb [{:path [:deps com.github.hephaistox/auto-build],
                   :src-prj :auto-build}],
             :deps [{:path [:deps com.github.hephaistox/auto-core],
                     :src-prj :auto-core}],
             :order 3},
 :auto-web {:bb [{:path [:deps com.github.hephaistox/auto-build],
                  :src-prj :auto-build}],
            :deps [{:path [:deps com.github.hephaistox/auto-core],
                    :src-prj :auto-core}],
            :order 5},
 :landing
   {:bb [{:path [:deps com.github.hephaistox/auto-build],
          :src-prj :auto-build}],
    :deps [{:path [:deps com.github.hephaistox/auto-core], :src-prj :auto-core}
           {:path [:aliases :cljs-deps :extra-deps
                   com.github.hephaistox/auto-web],
            :src-prj :auto-web}
           {:path [:deps com.github.hephaistox/auto-web], :src-prj :auto-web}],
    :order 101},
 :monorepo {:bb [{:path [:deps com.github.hephaistox/auto-build],
                  :src-prj :auto-build}],
            :dir ".",
            :order 999999},
 :sasu {:bb [{:path [:deps com.github.hephaistox/auto-build],
              :src-prj :auto-build}],
        :deps
          [{:path [:deps com.github.hephaistox/auto-core], :src-prj :auto-core}
           {:path [:aliases :cljs-deps :extra-deps
                   com.github.hephaistox/auto-web],
            :src-prj :auto-web}
           {:path [:deps com.github.hephaistox/auto-web], :src-prj :auto-web}],
        :order 100}}
